<h2 style="font-size:1.5em; margin: 105px auto 60px auto; text-align:center;">Bienvenue sur la documentation <span style="color:rgba(239, 59, 45, 1);">Technique</span> de BlackJackJo' !</h2>

<br>

<p><span style="color:rgba(239, 59, 45, 1);">Langages: </span> HTML5, CSS3, JavaScript, Jquery, PHP, SQL</p>
<p><span style="color:rgba(239, 59, 45, 1);">Auteur: </span> Basile Kuntz</p>
<p><span style="color:rgba(239, 59, 45, 1);">Âge du projet: </span> 8 mois</p>
<p><span style="color:rgba(239, 59, 45, 1);">Infos: </span> From Scratch, Mobile-First, Responsive</p>



<br><br><br><br>

<!--  Avec des container/collapse ? -->
<p class="sousTitreUnderligned">Documents</p>
<div class="gridDocuments">
    <div class="dicoDonnees"><img src="img/DictionnaireDonnees.png" class="imgDocuVignettes"></div>
    <div class="casUtil"><img src="img/Diagramme_Utilisation.jpg" class="imgDocuVignettes"></div>
    <div class="diagClasses"><img src="img/entitesAssociations.jpg" class="imgDocuVignettes"></div>
    <div class="schemaPartie"><img src="img/SchemaPartie.jpg" class="imgDocuVignettes"></div>
</div>

<br><br><br><br>

<p class="sousTitreUnderligned">Suivi Git</p>
<div class="gridGit">
    <div class="regulariteGit"><img src="img/regulariteGit.png" class="imgGitVignettes"/></div>
    <div class="apercuGitKraken"><img src="img/suiviGitKraken.gif" class="imgGitVignettes"/></div>
</div>

<br><br><br><br>

<p class="sousTitreUnderligned">Responsive</p>
<br>
<div class="gridResponsive">
    <div class="phoneResp"><img src="img/phoneResp.png" style="width:100%; position:relative; top:30px;"/></div>
    <div class="tabletResp"><img src="img/tabletResp.png" style="width:100%"/></div>
    <div class="pcResp"><img src="img/pcResp.png" style="width:100%"/></div>

</div>


<br><br><br><br>

<p class="sousTitreUnderligned">Fonctionalités</p>
<p>From Scratch, MobileFirst</p>
<p>Boutons toggleMute, toggleSpeed, retourArriere, FormatDateHistorique, roleUser et droits, titleGradientAnim, affichage doubleBoolHistorique</p>
