@media only screen and (min-width: 1700px) {

    footer.footerAccueil {
        /* position: absolute;
        bottom: 0; */
        /* position: fixed;
        bottom: auto; */
    
            bottom: 0;
            position: absolute;
    }

    #pageContainer {
        margin: 0% 26%;
    }

    #raieAccueil1 {
        width: 350px;
        height: 350px;
    
        offset-path: path("M 135 -145 C 209.106 906.334 1441.201 613.459 3191.72 801.977");

        animation: raieAccueil1 23500ms 2000ms infinite linear;

    }
    @keyframes raieAccueil1 {
        0% {
            transform: rotateZ(9deg) rotateX(180deg);
            offset-distance: 0%;
            opacity: 0;
            width: 350px;
            height: 350px;

        }
        11% {
            opacity: 0.25;
            transform: rotateZ(9deg) rotateX(150deg);

        }
        22% {
            opacity: 0.25;
            transform: rotateZ(9deg) rotateX(145deg);
        }
        33% {
            transform: rotateZ(9deg) rotateX(127deg);

            opacity: 0.25;
        }
        44% {
            opacity: 0.25;
            transform: rotateZ(9deg) rotateX(117deg);

        }
        55% {
            opacity: 0.25;
            transform: rotateZ(9deg) rotateX(112deg);
        }
        66% {
            opacity: 0.25;
        }
        77% {
            opacity: 0.25;
            transform: rotateZ(9deg) rotateX(110deg);

        }
        88% {
    
            opacity: 0.25;
        }
        100% {
            width: 330px;
            height: 330px;
    
            transform: rotateZ(9deg) rotateX(120deg);

            opacity: 0.1;
            offset-distance: 100%;
        }
      }
    


      .gridProjetHeaderContainer {
        gap: 100px 70px;
      }



      .skillsSvgContainer {
        position: absolute;
        transform: translate(-37px, -124px);
        opacity: 0.6;
        z-index: -99;
    }

    .hobbiesSvgContainer {
        transform: translate(160px, -66px);
    }
    
}