html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #171923;
}


ul {
    list-style: none;
}
li::before {
    content: "•";
    color: #ef3b2d;
    display:inline-block;
    width:1em;
    margin-left:-1em;
}

/* Grid CV */
.gridContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 80px 180px; 
    grid-template-areas: 
    "formations hobbys"
    "langages langages"
    "outils langues"; 

    margin-top: 30px;
}
.formations { grid-area: formations; }
.hobbys { grid-area: hobbys; }
.langages { grid-area: langages; }
.outils { grid-area: outils; }
.langues { grid-area: langues; }
/* Fin grid CV */



.paragraphe {
    color: #E7E8F2;
    font-size: 1.2em;
    text-align: justify;

}


/* Traits (WIP: traitFaded) */
/* .separateurListe {
    height: 1px;
    width: 100%;
    background-color: #ef3b2d;
    margin-bottom: 15px;
    margin-top: 10px;
} */

.separateurListe {
	opacity: 1;
	width: 100%;
	margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;

	height: 1px;
	background: #171923;
	background: -webkit-linear-gradient(left, #171923 0%, #ef3b2d 50%, #171923 100%);
}
.separateurListe2 {
	opacity: 0.3;
	width: 100%;
	margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 5px;

	height: 1px;
	background: #171923;
	background: -webkit-linear-gradient(left, #ef3b2d 0%, #171923 100%);
}
.separateurListe.light {
    opacity: 1;
    width: 100%;
    text-align: center;

    background: #ef3b2d;
    background: -webkit-linear-gradient(left, #171923 0%, #ef3b2d 50%, #171923 100%);
}
















.formations {
    position: relative;
    opacity: 0;

    animation-name: fadeInFormation;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.hobbys {
    position: relative;
    opacity: 0;

    animation-name: fadeInHobbys;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.langages {
    position: relative;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.outils {
    position: relative;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.langues {
    position: relative;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInFormation {
    from {
        left: -500px;
        opacity: 0;

    }
    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes fadeInHobbys {
    from {
        right: -500px;
        opacity: 0;

    }
    to {
        right: 0px;
        opacity: 1;
    }
}


.sousTitreUnderligned {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #ef3b2d;
    text-decoration-thickness: 4px;
}





.selected {
    color: #ef3b2d;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgba(231, 232, 242, 0.5);
}

.highlightSpan {
    color: #ef3b2d;
    font-weight: bold;
}

.pageSectionTitle {
    font-size: 1.2em;
    font-weight: 600;
}

.pageTitle {
    color:#E7E8F2;
    opacity: 0;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #ef3b2d;
    -moz-text-decoration-color: #ef3b2d;

    text-align:right;
    font-size: 2.3em;

    margin-top:40px;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}


.menuButton:hover {
    animation-name: hoverMenuButton;
    animation-duration: 1.5s;
}
@keyframes hoverMenuButton {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}


/* Header Projet PC */
#pageContainer {
    background-size:cover;
    background-repeat:no-repeat;
    height:400px;
    margin:0% 10%;
}




#traitHeader {
    height:1px;
    width:100%;
    background-color:#E7E8F2;
    opacity:0.2;
}

.traitSeparateurProjet {
    height:1px;
    width:65%;
    background-color:#E7E8F2;
    opacity:0.2;
    margin: 80px auto 30px auto;
}

.documentationHeader {
    margin-top:50px; 
    color:#E7E8F2;
}
.documentationTitle {
    text-align:center; 
    margin:0 auto; 
    font-size:2em
}
.chevronOrange {
    opacity:0.6; 
    color:#ef3b2d;
}
.documentationButtons {
    text-align:center; 
    margin:40px auto; 
    font-size:1.7em;
}
.buttonSelected {
    padding: 10px 30px; 
    border-top: 3px solid rgba(239, 59, 45, 0.9);
    border-bottom: 3px solid rgba(239, 59, 45, 0.9); 
    /* border-right: 1px solid rgba(231, 232, 242, 0.02);
    border-left: 1px solid rgba(231, 232, 242, 0.02); */
    border-radius:5px;
}
.buttonNonSelected {
    opacity: 0.4;
    padding: 10px 30px; 
    border-top:1px solid rgba(231, 232, 242, 0.4);
    border-bottom:1px solid rgba(231, 232, 242, 0.4); 
    /* border-right: 1px solid rgba(231, 232, 242, 0.02);
    border-left: 1px solid rgba(231, 232, 242, 0.02); */
    border-radius:5px;
}
.buttonNonSelected:hover {
    animation-name: fadeInButtonDocu;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes fadeInButtonDocu {
    from {
        opacity: 0.4;
        border-top:1px solid rgba(231, 232, 242, 0.4);
        border-bottom:1px solid rgba(231, 232, 242, 0.4); 
        padding: 10px 30px;   
        border-radius:5px;  
    }
    to {
        opacity: 1;
        border-top:2px solid rgba(231, 232, 242, 0.6);
        border-bottom:2px solid rgba(231, 232, 242, 0.6);
        padding: 14px 30px; 
        border-radius:8px;
    }
}



#boutonMockup{
    /* Bouton accueil */
    width: 23px;
    height: 23px;
    border: 2px solid #ef3b2d;
    background-color:rgba(239, 59, 45, 0.1);
    border-radius: 50%;
    opacity: 0.7;

    position:relative;
    top: 831px;
    margin: 0 auto;
}
#boutonMockup2{
    /* Caméra */
    width: 7px;
    height: 7px;
    background-color: #ef3b2d;
    border: 2px solid #ef3b2d;
    border-radius: 50%;
    opacity: 0.7;

    position:relative;
    top: 104px;
    margin: 0 auto;
}
#boutonMockup3{
    /* On/Off */
    width: 4px;
    height: 30px;
    background-color: #ef3b2d;
    border: 2px solid #ef3b2d;
    opacity: 0.8;
    margin-left:40px;

    position:relative;
    left: 180px;
    top: 300px;
    margin: 0 auto;
}
#bouton3Container {
    /* width: 4px;
    height: 30px;

    margin-left:40px;

    position:relative;
    left: 180px;
    top: 300px;
    margin: 0 auto; */
}
#boutonMockup3:hover {
    animation-name: boutonMockup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes boutonMockup {
    from {
        opacity: 0.8;
        width: 4px;
        left: 180px;
    }
    to {
        opacity: 1;
        width: 20px;
        left: 195px;
    }
}
#boutonMockup4{
    /* Vol+ */
    width: 4px;
    height: 30px;
    background-color: #ef3b2d;
    border: 2px solid #ef3b2d;
    opacity: 0.8;

    position:relative;
    left: 180px;
    top: 170px;
    margin: 0 auto;
}
#boutonMockup5{
    /* Vol- */
    width: 4px;
    height: 30px;
    background-color: #ef3b2d;
    border: 2px solid #ef3b2d;
    opacity: 0.8;

    position:relative;
    left: 180px;
    top: 172px;
    margin: 0 auto;
}





.lienBJJ {
    line-height:0; 
    position:relative; 
    bottom:7px; 
    color:#E7E8F2; 
    text-align:center; 
    font-size:1.7em; 
    opacity:0.6;
}
.lienBJJ a:hover {
    /* color: #ef3b2d; */
    animation-name: linkColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes linkColor {
    from {
        color:#E7E8F2; 
    }
    to {
        color: #ef3b2d;
    }
}

.redirectionPng {
    width: 26px;
    position: relative;
    top: 4px;
    margin-left: 5px;
}










/* Grid iframe + header (PROJET) */
.gridProjetHeaderContainer {
    display: grid; 
    grid-template-columns: 0.7fr 1.3fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "iframe header"; 
}
.iframe { 
    grid-area: iframe; 
    text-align: justify; 
    width: 364px;

    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.iframe iframe {
    display: block;
    margin: 0 auto;
}
.header { grid-area: header; }



.iframeElem {
    /* position: relative;
    top: 50px; */
    margin: 60px auto 60px auto; 
    border: 2px solid #ef3b2d; 
    padding: 17px 4px 32px 4px; 
    border-radius: 7px;
    width: 360px;
    height: 740px;
}


/* classes headerProjet */

.header {
    color: #d4d4d4;
    position: relative;
    margin: auto auto;
    padding-left: 15px;
    /* line-height: 100%; */

}

.indented {
    margin-left: 50px;
}


.pChevrons {
    color: #808080;
    font-family: Consolas;
    opacity: 0.7;
}
.pTags {
    color: #569cd6;
    font-family: Consolas;
    opacity: 0.7;
}
.pAttributes {
    color: #9cdcfe;
    font-family: Consolas;
    opacity: 0.7;
}
.pValues {
    color: #ef3b2d;
    font-family: Consolas;
    opacity: 0.7;
}
.pText {
    color: #E7E8F2;
    font-size: 1.7em;
    font-family: Century Gothic;
    opacity: 0.9;
    font-weight: bold;
}




/* Grid aperçu documents  */
.gridDocuments {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 7px; 
    grid-template-areas: 
      "dicoDonees casUtil diagClasses schemaPartie"; 
  }
  .dicoDonees { grid-area: dicoDonees; }
  .casUtil { grid-area: casUtil; }
  .diagClasses { grid-area: diagClasses; }
  .schemaPartie { grid-area: schemaPartie; }

  .imgDocuVignettes {
      width: 180px;
      height: 100px;
      border-radius: 10px;
  }