@media only screen and (min-width: 1300px) {
    .paragrapheAccueil {
        font-size: 2em;
    }

    #menuLigneCv {
        font-size: 1.35em;
    }

    #portfolioTitle {
        font-size: 2.2em;
        margin-block-start: 0.2em;
        margin-block-end: 0;
    }

    .imgAccueil { 
        width: 180px;
        height: 195px;

        margin: 45px 30px 15px 112px;
    }

    #portfolioSousTitre {
        font-size: 1.3em;
    }

    #contactButton {
        font-size: 1.8em;
    }

    .pageTitle {
        font-size: 2.4em;
    }

    #photographieTitle {
        font-size: 3.7em;
        margin-block-start: 0;
    }

    #messageGalerie {
        font-size: 1.4em;
        margin-block-start: 0;
    }
    #messageLoadingLong {
        font-size: 1.4em;
    }





    #motion-demo_rapid {
        offset-path: path("M 1323 383 C 960 461 377 333 -302 -201");
        animation: moveRapid 1850ms 1 cubic-bezier(1,.66,.51,.98);

    }
    #motion-demo_rapid2 {
        offset-path: path("M 1323 383 C 696 580 524 136 -302 -201");
        animation: moveRapid 1850ms 450ms 1 cubic-bezier(1,.66,.51,.98);

    }
    #motion-demo_rapid3 {
        offset-path: path("M 1323 383 C 840 327 722 12 -492 -110");
        animation: moveRapid 1850ms 250ms 1 cubic-bezier(1,.66,.51,.98);

    }




}