@media only screen and (max-width: 600px) {

    body {
        background: linear-gradient(56deg, rgba(23,25,35,1) 0%, rgba(29,36,47,1) 41%, rgba(34,46,58,1) 50%, rgba(23,25,35,0.9943339884782038) 75%, rgba(23,25,35,0.9943339884782038) 99%);
        /* background: linear-gradient(56deg, rgba(23,25,35,1) 0%, rgba(29,36,47,1) 41%, rgba(54, 139, 150, 0.6) 50%, rgba(23,25,35,0.9943339884782038) 75%, rgba(23,25,35,0.9943339884782038) 99%); */

        background-size: 1200% 1200%;
        animation: gradientAnimProjet 2s ease 0s normal forwards running;
        /* width: 100vh; */
    }
    @keyframes gradientAnimProjet {
        from {
            background-position: 15% 10%;
        }
        to {
            background-position: 80% 30%;
        }
    }



    #pageContainer {
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 200px !important; */
        height: fit-content;
        margin: 0% 5% !important;
    }

    /* CHANGER LE GRID pour que les elements soit sur une seule colonne */
    .gridContainer {
        gap: 0px 20px !important; 
    }
    /* Fin grid CV */



    #toggleTechnique {
        position: relative;
        top: 40px;
        right: 10px;    
    }


    #disclaimerContenuWrapper {
        margin: 0 20px;
    }
    #disclaimerContainerElem {
        position: relative;
        /* bottom: 240px; */
    }

    #documentationHeaderElem {
        position: relative;
        /* bottom: 320px; */
    }

    .documentationButtons {
        margin: 60px auto;
    }

    #boutonMockup {
        top: 620px !important;
    }
    #boutonMockup2 {
        position: relative;
        top: -16px !important;
        /* top:0; */
    }



    .switchProjectButton {
        border: 2px solid rgb(240 248 255 / 1%);
        border-radius: 50px;
        padding: 0px 18px;
    
        cursor: pointer;
        transition: all 0.4s;
    }
    .switchProjectButton:hover {
        border: 2px solid rgba(240, 255, 255, 0.05);
    }
    
    .buttonProjectActif {
        border: 2px solid rgb(239 59 45 / 2%);
        color: rgb(242 58 43 / 55%);
    
        cursor: default;
    }
    .buttonProjectActif:hover {
        border: 2px solid rgb(239 59 45 / 5%);
        color: rgb(242 58 43 / 55%);
    }








    .gridProjetHeaderContainer {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.9fr 2fr 0.8fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header"
          "iframe"
          "description"; 
        overflow-wrap: anywhere;
    }
    .header { 
        grid-area: header; 
        /* font-size: 45%; */
        font-size: 57%;
        position: relative;
        left: -29px;
        margin: 12% 0% 0% 5%;
    }
    .iframe {
        grid-area: iframe;
        bottom: 160px !important;
    }
    .description { 
        grid-area: description; 
        position: relative;
        /* bottom: 270px; */
    }


    .headerLine5 {
        line-height: 180% !important;
    }



    @keyframes borderDelayed {
        from {
            border-left: 1px solid rgba(239, 59, 45, 0);
        }
        to {
            border-left: 1px solid rgba(239, 59, 45, 0);
        }
    }

    .sectionsGridContainer {
        color: #e2e8f0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 110px 50px;
        grid-template-areas:
            "sectionSites"
            "sectionTips"
            "Autres"
            ".";
        opacity: 0;
        animation: fadeIn 0.5s ease 0.85s normal forwards running;
    }
    .sectionTips {
        padding-left: 0px;
        margin-left: 0px;
        border: 0px;
    }
    .sectionSites {
        position: relative;
        bottom: 100px;
    }


    .respPasIndent {
        padding-inline-start: 10px !important;
    }

    .indented {
        margin-left: 13px;
    }


    #portfolioTitle {
        margin-block-end: 0;
        /* margin-block-start: 0; */
    }
    #portfolioSousTitre {
        margin-block-end: 0;
        margin-block-start: 0;

        font-size: 1.03em !important;
        position: relative;
        bottom: 1.2em;
    }

    .carreTitreVeille {
        top: 11px !important;
    }
    .carreTitreProjet {
        top: 9px !important;
    }


    .traitSeparateurProjet {
        position: relative;
        /* bottom: 300px; */
        margin: 80px auto 80px auto;
    }
    #docuLoadContainer-wrapper {
        position: relative;
        /* bottom: 300px; */
    }

    .paragrapheDescriptionProjet {
        /* margin-block-start: 1em;
        margin-block-end: 1em; */
        margin: 2em 20px 0 0;
    }


    .iframe {
        margin: auto;
        /* Pour compenser le margin-left du header qui décale tout le grid */
        right: 15px;
    }
    .iframeElem {
        width: 323px;
        height: 650px;
    }




    .testH1 {
        padding: 6px 0px 0px 3%;
    }
    /* HYPER IMPORTANT ICI: */
    .testHeader {
        display: block;
    }

    .testProjetTitle {
        text-align: center !important;
    }




    #NavBarContainer {
        width: 100%;
        background-color: #b92f25;
        margin-right: 0% !important;
        border-radius: 0px !important;
        padding: 0px;

        /* top: 7% !important; */

        position: relative !important;
    }

    .selected {
        color: #171923;
        font-weight: bold;
        text-decoration-color: #171923;
        text-underline-offset: 1px;
        text-decoration-thickness: 8px;
    }

    #menuLigne {
        margin-left: 17px;
        padding: 3px;
        margin-top: 28px;
        
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    #menuLigneCv {
        margin-left: 17px;
        padding: 3px;
        /* margin-top: 28px !important; */
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    
    #titleCv {
        margin-block-start: 0.7em;
        margin-block-end: 0.7em;
    }

    .projetTitle {
        font-size: 2.3em;
        /* top: 40px; */
        margin-block-start:0.7em;
    }
    .veilleTitle {
        font-size: 2.5em;
        line-height: 1em;
        position: relative;
        bottom: 25px !important;
    }
    .galerieTitle {
        font-size: 2.5em;
        line-height: 1em;
        position: relative;
        bottom: 10px !important;

        margin-block-end: 0em !important;
    }


    .imgGitVignettes {
        width: 265px;
        height: 125px;
        border-radius: 9px;
        padding: 4px;
        border: 1px solid rgba(239, 59, 45, 0.4);
    }



    .barreProjetSouligne {
        width: 188px !important;
        bottom: 4px !important;
        animation: barreProjetSouligne 1s ease 0s normal forwards running !important;
    }
    .barreVeilleSouligne {
        width: 257px;
    }
    .barreGalerieSouligne {
        width: 122px;
        bottom: 8px;
        margin-bottom: 30px;
    }
    @keyframes barreProjetSouligne {
        from {
            right: 1000px;
            background-color: #e2e8f0;
            height: 15px;
        }
        to {
            /* right: -85px; */
            right: -79px;
            background-color: rgba(239, 59, 45, 0.9);
            height: 8px;
        }
    }

    #boutonMockup4 {
        height: 0px !important;
        width: 0px !important;

        position: absolute;
        opacity: 0;
    }
    #boutonMockup5 {
        height: 0px !important;
        width: 0px !important;

        position: absolute;
        opacity: 0;

    }
    #boutonMockup3 {
        height: 0px !important;
        width: 0px !important;

        position: absolute;
        opacity: 0;

    }







#messageGalerie {
    font-size: 0.85em;
}










    






#traitHeader {
    height:0px;
}
/* .traitHeaderProjet { 
    height: 0px !important;
} */



    /* Grid CV */
    .gridContainer {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1.1fr 1fr 0.8fr 0.5fr 0.5fr; 
        gap: 0px 180px; 
        grid-template-areas: 
        "formations"
        "langages"
        "hobbys"
        "outils"
        "langues"; 

        margin-top: 30px;
    }



    .docAdminGrid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 15px 0px; 
        grid-template-areas: 
        "adminHistorique"
        "adminUserList"
        "adminLogs"; 
    }
    .textAdminDoc {
        /* margin-block-end: 0em; */
    }





    /* GRID COMPETENCES */
    .langages {
        /* margin-top: 50px; */
    }
    .gridCompetences {  
        margin: 0 auto 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 11px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "grid-html5 grid-css3"
          "grid-javascript grid-php"
          "grid-bdd grid-sql";
      }
    .carreCompetences {
        width: 150px;
        height: 150px;
        padding: 15px;
    }
    .imgCompetences {
        width: 60px;
        height: 50px;
        position: relative;
        top: 27px;
    }
    .exeptionJs {
        Width: 62px;
        height: 48px !important;
    }
    .textCompetences {
        margin-block-start: 1.8em;
        margin-block-end: 0em;
    }




    .imgDocuVignettes {
        width: 220px;
        height: 165px;
        border-radius: 9px;
        padding: 3px;
        border: 1px solid rgba(239, 59, 45, 0.4);
    }



    .imgAccueil {
        width: 100px;
        height: 100px;
        margin: 30px 10px 10px 18px;
        opacity: 1;

        border: 1px solid rgba(239, 59, 45, 0.7);
        padding: 2px;
    }





    /* GRID DIAGRAMMES DOC TECH */
    .gridDocuments {
        text-align: center;
    
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 15px 7px; 
        grid-template-areas: 
          "dicoDonees"
          "casUtil" 
          "diagClasses"
          "schemaPartie"; 
    }





    /* GRID git (regularitée et aperçu gitkraken) */
    .gridGit {
        justify-content: center;

        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 25px 0px; 
        grid-template-areas: 
        "regulariteGit"
        "apercuGitKraken"; 
    }









    .bienvenueDoc {
        height:0px;
        width:0px;
        margin: 0 !important;
        opacity: 0;
        margin-block-start:0em !important;
        margin-block-end: 0em !important;
    }


























    .galerieAccueil {
        justify-content: center;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "photo1 photo2"
          "photo3 photo4"
          "photo5 photo6"
          "photo7 photo8"
          "photo9 photo10"
          "photo11 photo12"
          "photo13 photo14"
          "photo15 photo16"
          "photo17 photo18"
          "photo19 photo20"
          "photo21 photo22"
          "photo23 photo24"
          "photo25 photo26"
          "photo27 photo28"
          "photo29 photo30"
          "photo31 photo32"
          "photo33 photo34"
          "photo35 photo36"
          "photo37 photo38"
          "photo39 photo40"
          "photo41 photo42"
          "photo43 photo44"
          "photo45 photo46"
          "photo47 photo48"
          "photo49 photo50"
          "photo51 photo52"
          "photo53 photo54"
          "photo55 photo56"
          "photo57 photo58";
    }

    .photosGallerie {
        width: 135px;
    }
    .photosGallerie:hover {
        animation: imgBlur 0.4s ease 0s normal forwards;
    }
    @keyframes imgBlur { 
        from {
            opacity: 1;
            filter: blur(0px);
        }
        to {
            opacity: 0.8;
            filter: blur(1px);
        }
    }
    
    .loupesGalerie {
        font-size:1em;
    }

    
    .modal-image {
        width: 98%;
    }





    .lds-ring {
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        width: 64px;
        height: 64px;    
    }




    #motion-demo {
        /* https://yqnn.github.io/svg-path-editor/ */
        offset-path: path("M -79 5 C 70 132 381 -20 491 82");

        position: fixed;
        top: 30%;
        z-index: -5;


        animation: move 6500ms 1500ms infinite ease;
        width: 80px;
        height: 80px;

    }


    #motion-demo2 {
        /* https://yqnn.github.io/svg-path-editor/ */
        offset-path: path("M 248 -160 C -84 114 470 603 30 872");
        position: fixed;

        top: -5%;

        width: 200px;
        height: 200px;
    
    }

    /* Faire la meme un peu modifié et devant les photos */

    #motion-demo3a {
        offset-path: path("M -76 920 C 189 703 170 119 354 -59");
    }



























}