@media only screen and (min-width: 1300px) {
    .paragrapheAccueil {
        font-size: 2em;
    }

    #menuLigneCv {
        font-size: 1.35em;
    }

    #portfolioTitle {
        font-size: 2.2em;
        margin-block-start: 0.2em;
        margin-block-end: 0;
    }

    .imgAccueil { 
        width: 180px;
        height: 195px;

        margin: 45px 30px 15px 112px;
    }

    #portfolioSousTitre {
        font-size: 1.3em;
    }

    #contactButton {
        font-size: 1.8em;
    }

    .pageTitle {
        font-size: 2.4em;
    }

    #photographieTitle {
        font-size: 3.7em;
        margin-block-start: 0;
    }

    /* .close {
        top: 37px;
        right: 35px;
        color: #f1f1f1;
        font-size: 5em;
        font-weight: bold;
        transition: 0.3s;
    } */

    #motion-demo_rapid {
        offset-path: path("M 357 311 C 40 308 98 182 -302 -201");
        animation: moveRapid 1650ms 1 cubic-bezier(1,.66,.51,.98);

    }
    #motion-demo_rapid2 {
        offset-path: path("M 357 311 C 57 267 286 195 -302 -201");
        animation: moveRapid 1650ms 450ms 1 cubic-bezier(1,.66,.51,.98);

    }
    #motion-demo_rapid3 {
        offset-path: path("M 357 311 C 104 263 201 92 -444 -93");
        animation: moveRapid 1650ms 250ms 1 cubic-bezier(1,.66,.51,.98);

    }


}